.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}

.about-me-container div {
  width: 50%;
}

.about-me-container div p {
  font-size: 1.5rem;
}

.hi-there {
  font-size: 5rem;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}

.arrow img {
  width: 4%;
  height: auto;
  background-color: #ec9b3b;
  border-radius: 100%;
}

.heading {
  font-size: 2.75rem;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 20%;
  grid-row-gap: 1rem;
  grid-column-gap: 3rem;
  margin-left: 10%;
  margin-bottom: 8rem;
}

.skill-col-container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column: 2;
}

.skill-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 8%;
}

.skills {
  text-transform: uppercase;
  display: inline-block;
  border: solid;
  border-radius: 1px;
  border-color: black;
  width: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 3.75rem;
  background-color: #ec9b3b;
}

.p-3 {
  grid-column: 1;
}

@media only screen and (max-width: 970px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 1ft 1fr 1fr 1fr;
  }
  .skill-col-container {
    grid-column-start: 1;
    grid-row-start: 4;
  }
}

@media only screen and (max-width: 970px) {
  .arrow img {
    width: 7%;
  }
}
