.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}

.about-me-container div {
  width: 50%;
}

.about-me-container div p {
  font-size: 1.5rem;
}

.hi-there {
  font-size: 5rem;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 25rem;
}

.arrow img {
  width: 4%;
  height: auto;
  background-color: #ec9b3b;
  border-radius: 100%;
}

.journey-so-far {
  font-size: 2.75rem;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 20%;
  grid-row-gap: 1rem;
  grid-column-gap: 3rem;
  margin-left: 5%;
}

.skill-col-container {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
}

.skill-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
}

.skills {
  text-transform: uppercase;
  display: inline-block;
  border: solid;
  border-radius: 1px;
  border-color: black;
  width: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 3.75rem;
}

.p-3 {
  grid-column: 1;
}

.journey-background {
  padding: 7rem 0;
  height: 100%;
  background-color: #f7d716;
}

.test {
  background-color: #293462;
}
