header {
  position: sticky;
  top: 0;
  background-color: white;
  height: 100px;
  margin-bottom: 5rem;
}

nav {
  padding: 1% 0% 0% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  padding-right: 30px;
}

.nav-list {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: #f0a500;
}

.name {
  color: #1b1a17;
  font-size: 20px;
}

.header-button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #1b1a17;
}

.projects-link {
  color: #f0a500;
  font-size: 16px;
}

.projects-link:hover {
  color: white;
  font-size: 16px;
}
