.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-template-rows: 10% 1fr 10%;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  margin: 0 10% 0 10%;
  padding: 1.2rem 1.5rem 1.2rem 1.5rem;
}

.projects-container div p {
  text-align: center;
}

.project-itunes-description {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.project-minesweeper-description {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.project-hashmap-description {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.project-button {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  grid-row-start: 3;
}

.my-projects {
  margin-left: 10%;
  margin-bottom: 1.5rem;
}

button {
  grid-row-start: 3;
  cursor: pointer;
  border: solid;
  background-color: #4bd35c;
  width: 100px;
  border-radius: 50px;
}

.projects-heading {
  font-weight: 600;
}
