body {
  margin: 0px;
  padding: 0px;
}

header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 25px;
}

.nav-item a {
  font-family: poppins, arial;
  text-decoration: none;
  color: black;
}

.nav-item:first-child {
  margin-right: auto;
  font-size: 16px;
}

.project-button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #86c232;
}

.projects-link {
  font-size: 16px;
}
