* {
  box-sizing: border-box;
  font-family: poppins, arial;
  margin: 0;
  padding: 0;
}
header {
  background-color: white;
  height: 100px;
}

nav {
  padding: 1% 0% 0% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  padding-right: 30px;
}

.nav-list {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.name {
  font-size: 20px;
}

.project-button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #86c232;
}

.projects-link {
  font-size: 16px;
}

.grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.grid-item-1 {
  background-color: white;
}

.dev-image {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.hi-there {
  font-size: 50px;
}
